.container {
  padding: 0 2rem;
}

.search {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: .5rem;
}

.search input[type="search"] {
  padding: .5rem;
  border: 1px solid silver;
  border-radius: .5rem;
}

.search button {
  padding: .5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid silver;
  border-radius: .5rem;
  cursor: pointer;
}

.search button:hover {
  background-color: whitesmoke;
}

.grid-container {
  position: relative;
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 1600px) {
  .grid-container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1280px) {
  .grid-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}