.container {
  padding: 0 2rem;
}

.search {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 0.5rem;
}

.search input[type='search'] {
  padding: 0.5rem;
  border: 1px solid silver;
  box-shadow: 0 0 8px lightgray;
  border-radius: 0.5rem;
}

.search button {
  padding: 0.5rem;
  color: #161616;
  background-color: white;
  font-weight: bold;
  border: 1px solid silver;
  box-shadow: 0 0 8px lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
}

.search button:hover {
  box-shadow: 0 0 8px silver;
}

.search button:disabled {
  background-color: lightgray;
  color: gray;
  box-shadow: none;
}

.grid-container {
  position: relative;
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 1600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
